table {
    width: 100%;
    border: none;
    text-align: center;
}

th {
    background-color: #2C5A5F;
    height: 40px;
    text-align: center;
    color: white;
    border-radius: 20px;
}

td {
    margin-top: 5px;
    padding: 12px;
    font-weight: 600;

}